header
  a(href='/')
    h1 Qwakk
  aside
    form
      label
        | username
        input(type='text')
      label
        | password
        input(type='password')

      button(type='submit') login
