header
  a(href='/')
    h1 Qwakk

  aside
    if !session.authenticated
      form(action='/user/login' method='POST')
        label
          | username
          input(type='text' name='username' required)
        label
          | password
          input(type='password' name='password' required)

        button(type='submit') login
    else
      ul
        li
          a(href='/user/profile')
            != session.user.username
        li
          a(href='/session/destroy') Logout

if session.flash && session.flash.message
  .message-board(class='#{session.flash.message.type}')
    != session.flash.message.description
