extends ./layout

block styles
  link(href="/styles/pages/index.css", rel='stylesheet')

block body

  header
    h1 Welcome to Qwakk
    h2 A new way to bookmark

  aside
    header
      h1 Become a member

    .error
      if flash && flash.err
        ul
          each error in flash.err
            li=error

    form(action='/user/create' method='POST')

      label
        | username
        input(type='text' name='username' required)
      label
        | email
        input(type='email' name='email' required)
      label
        | password
        input(type='password' name='password' required)
      label
        | confirm password
        input(type='password' name='confirmation' required)

      button(type='submit') Sign up for your free account
